{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto py-6 px-4">
        <h1 class="text-3xl font-bold text-green-800 mb-6">Каталог услуг</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for service in services %}
            <div class="card bg-base-100 shadow-xl p-6">
                <h2 class="text-2xl font-bold">{{ service.title }}</h2>
                <p class="mt-2">{{ service.description|truncatewords:20 }}</p>
                <p class="mt-4 font-semibold">Цена: {{ service.price }} рублей</p>
                <a href="{% url 'services:cart_add' service.id %}" class="btn btn-primary mt-4">Добавить в корзину</a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
