{% extends 'base.html' %}

{% block content %}
    <div class="flex flex-col items-start px-4">
        <!-- Аватар -->
        <div class="avatar mb-6">
            <div class="w-24 rounded-full">
                <img src="https://taplink.st/a/8/1/d/d/1db799.jpg?123" alt="Екатерина Прошина">
            </div>
        </div>

        <!-- Имя -->
        <h1 class="text-3xl font-bold text-green-800 mb-4">ЕКАТЕРИНА ПРОШИНА</h1>

        <!-- Описание -->
        <p class="text-left text-gray-700 leading-relaxed">
            Профессиональный астролог,<br>Специализируюсь на прогностике и ректификации
        </p>

        <!-- Разделение -->
        <div class="divider my-6"></div>

        <!-- Ректификация -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Ректификация - уточнение времени рождения</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Ректификация гороскопа — это алгоритм определения точного времени рождения на основе важных событий, которые
            произошли в прошлом.
        </p>
        <ul class="list-disc list-inside text-left text-gray-700 leading-relaxed mb-4">
            <li><strong>Зачем уточнять время рождения?</strong> После ректификации вы будете знать точное положение
                планет и домов, что обеспечит точный астрологический прогноз.
            </li>
            <li>Для уточнения времени рождения важно предоставить значимые события из вашей жизни.</li>
            <li>При неопределённости более 1 часа найденное время проверяется ретропрогнозом (по событиям из недавнего
                прошлого).
            </li>
        </ul>
        <p class="text-left text-gray-700 leading-relaxed">Уточнение времени по бирке — 1 500 рублей</p>
        <p class="text-left text-gray-700 leading-relaxed">Уточнение времени в интервале до 1 часа 2 000 рублей</p>
        <p class="text-left text-gray-700 leading-relaxed">Уточнение времени в интервале 1−2 часа 2 500 рублей</p>
        <p class="text-left text-gray-700 leading-relaxed">Уточнение времени в интервале 3−4 часа 4 500рублей</p>
        <p class="text-left text-gray-700 leading-relaxed">Уточнение времени в интервале 5−6 часов 6 500 рублей</p>
        <p class="text-left text-gray-700 leading-relaxed">Уточнение времени в интервале 7−8 часов 8 500 рублей</p>
        <p class="text-left text-gray-700 leading-relaxed">Уточнение времени в интервале 12 часов 10 000 рублей</p>
        <p class="text-left text-gray-700 leading-relaxed">Уточнение времени в интервале 24 часов 13 000 рублей</p>

        <div class="text-left w-full mb-6">
            <a href="https://t.me/under_the_sun" class="btn btn-secondary">У вас остались вопросы?</a>
        </div>

        <!-- Годовой прогноз -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Прогноз на год</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">Годовой прогноз не отвечает на вопрос «что будет?»,
            годовой прогноз — это ответ на вопрос «что я должен сделать, в какие периоды, чтобы максимально быстро
            добиться своих целей».
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Годовой прогноз — ваша личная инструкция к возможностям предстоящего года. Эта информация поможет
            эффективнее управлять своей жизнью в определенный период и предвидеть вероятность многих событий.</p>
        <p class="text-left text-gray-700 leading-relaxed mb-4">Годовой прогноз — ваша личная инструкция к возможностям
            предстоящего года. Эта информация поможет эффективнее управлять своей жизнью в определенный период и
            предвидеть вероятность многих событий.</p>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            <strong>Стоимость:</strong> 8500 рублей.
        </p>
        <ul class="list-disc list-inside text-left text-gray-700 leading-relaxed mb-4">
            <li>Прогноз на 6 месяцев — 4500 рублей.</li>
            <li>Прогноз на 1 месяц — 1500 рублей.</li>
        </ul>

        <!-- Кармический анализ -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Кармический анализ</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Нужно жить настоящим, планировать будущее и изучать прошлое.
            Раздел кармическая астрология изучает наработки, опыт души.
            Конечно, анализируется вся натальная карта. В кармической астрологии очень много информации можно получить
            из космограммы (необязательно время рождения)
        </p>
        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Что анализируется:</strong>
        </p>
        <ul class="list-disc list-inside text-left text-gray-700 leading-relaxed mb-4">
            <li>Стационарные и ретроградные планеты</li>
            <li>Аспекты Лунных Узлов к Светилам</li>
            <li>Аспекты Светил и Высших планет</li>
            <li>Планеты в 12 доме (вблизи Asc)</li>
            <li>Планеты в 4 доме (вблизи IC)</li>
            <li>Аспекты Лилит и планет натальной карты</li>
            <li>Сожжение планеты</li>
            <li>Феральные планеты, планеты не имеющие аспектов</li>
            <li>Включенные планеты (знаки)</li>
            <li>Аспекты между планетами-управителями 4, 8 и 12 домов.</li>
            <li>Минорные аспекты</li>
            <li>Градусы планет</li>
            <li>Фигуры Джонса</li>
            <li>Неподвижные звёзды</li>
            <!-- И другие аспекты -->
        </ul>
        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Стоимость:</strong> 3000 рублей.
        </p>
        <div class="text-left w-full mb-6">
            <a href="https://t.me/under_the_sun" class="btn btn-secondary">Интересен кармический анализ карты</a>
        </div>
        <!-- Подбор благоприятных дат -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Подбор благоприятных дат</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Важность подбора благоприятного периода для различных событий:

            Определение оптимального времени для важных жизненных событий
            Астрология помогает выявить наиболее благоприятные периоды для таких событий, как:
            — Начало нового дела или проекта
            — Заключение брака, зачатие ребенка
            — Переезд, смена работы, начало обучения
            — Важные переговоры, подписание контрактов
            Правильный выбор времени значительно повышает шансы на успех и позитивный исход.
        </p>
        <p class="text-left text-gray-700 leading-relaxed">
            Минимизация рисков и трудностей
            Зная неблагоприятные периоды, можно спланировать важные дела так, чтобы они не пришлись на время повышенных
            рисков и сложностей.

            Повышение эффективности и результативности
            Правильный выбор времени позволяет максимально использовать свой потенциал и энергию для достижения целей.

            Таким образом, астрологический подход к планированию событий значительно повышает ваши шансы на успех и
            благополучие. Это важный аспект, который стоит учитывать при принятии ключевых жизненных решений.

        </p>

        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Стоимость:</strong> 3000 рублей.
        </p>


        <!-- Хорарный вопрос -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Хорарный вопрос</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Что такое хорарная астрология?
            Кратко — это астрология вопроса. С помощью этого метода можно искать ответы на вопросы во многих сферах
            жизни человека.
        </p>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Огромный плюс, что для хорара НЕ нужны такие данные: дата, время, место рождения. Карта строится на момент,
            когда астролог понял ваш запрос!
        </p>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Очень важно правильно сформулировать сам вопрос. Он не должен касаться того, что вас никак не волнует.
            Обычно правильные вопросы рождаются спонтанно или вследствие каких-то важных событий, происходящих вокруг.
            Например, нужно определиться с тем, ехать в командировку или нет, покупать новую квартиру или стоит отложить
            этот вопрос на потом...
        </p>
        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Стоимость:</strong> 700 рублей.
        </p>
        <div class="text-left w-full mb-6">
            <a href="https://t.me/under_the_sun" class="btn btn-secondary">Задайте хорарный вопрос</a>
        </div>
        <!-- Анализ натальной карты -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Анализ натальной карты</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Общая астрологическая консультация
            Нужна для того, чтобы:
            — выявить способности, таланты, сильные и слабые стороны;
            — найти способы преодоления трудностей;
            — даю описание разных сфер жизни...
        </p>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            В результате получите:
            — подробное описание особенностей характера, эмоциональной сферы, проявления чувств, особенностей
            воображения.
            — краткий анализ личной жизни (описание партнера, где и при каких обстоятельствах его можно встретить, стиль
            взаимоотношений);
            — анализ социального положения (какую область обучения или работы стоит выбрать, чтобы реализовать себя и
            иметь финансовый достаток).
        </p>
        <p class="text-left text-gray-700 leading-relaxed mb-4">

            Также можете задать и другие вопросы, которые вас волнуют.

        </p>
        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Стоимость:</strong> 12 000 рублей.
        </p>


        <!-- Профориентация -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Профориентация и финансы</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            На консультации Вы узнаете:
        </p>
        <li>Ваши сильные стороны</li>
        <li>Профессии, которые можно освоить с помощью талантов</li>
        <li>Целевая аудитория</li>
        <li>Действия для улучшения финансового потока</li>
        <li>Финансовые риски</li>
        <li>Мотивация</li>
        <li>Действия для привлечения клиентов</li>

        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Стоимость:</strong> 4000 рублей.
        </p>
        <div class="text-left w-full mb-6">
            <a href="https://t.me/under_the_sun" class="btn btn-secondary">Обращайтесь</a>
        </div>

        <!-- Статьи -->
        <div class="text-left w-full mt-10">
            <a href="https://boosty.to/under__the__sun_" class="btn btn-primary">Читать статьи на Boosty</a>
        </div>
    </div>
{% endblock %}
