{% extends 'base.html' %}

{% block content %}
    <div class="flex flex-col items-start px-4">
        <!-- Аватар -->
        <div class="avatar mb-6">
            <div class="w-24 rounded-full">
                <img src="https://taplink.st/a/8/1/d/d/1db799.jpg?123" alt="Екатерина Прошина">
            </div>
        </div>

        <!-- Имя -->
        <h1 class="text-3xl font-bold text-green-800 mb-4">ЕКАТЕРИНА ПРОШИНА</h1>

        <!-- Описание -->
        <p class="text-left text-gray-700 leading-relaxed">
            Профессиональный астролог,<br>специализируюсь на прогностике и ректификации
        </p>

        <!-- Разделение -->
        <div class="divider my-6"></div>

        <!-- Ректификация -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Ректификация - уточнение времени рождения</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Ректификация гороскопа — это алгоритм определения точного времени рождения на основе важных событий, которые произошли в прошлом.
        </p>
        <ul class="list-disc list-inside text-left text-gray-700 leading-relaxed mb-4">
            <li><strong>Зачем уточнять время рождения?</strong> После ректификации вы будете знать точное положение планет и домов, что обеспечит точный астрологический прогноз.</li>
            <li>Для уточнения времени рождения важно предоставить значимые события из вашей жизни.</li>
            <li>При неопределённости более 1 часа найденное время проверяется ретропрогнозом (по событиям из недавнего прошлого).</li>
        </ul>
        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Стоимость:</strong> Уточнение времени по бирке — 1000 рублей.
        </p>
        <div class="text-left w-full mb-6">
            <a href="https://t.me/under_the_sun" class="btn btn-secondary">У вас остались вопросы?</a>
        </div>

        <!-- Годовой прогноз -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Прогноз на год</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Годовой прогноз — это ваш персональный план действий на предстоящий год. Этот прогноз поможет эффективно управлять вашей жизнью, определить периоды для активных начинаний и снизить риски.
        </p>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            <strong>Стоимость:</strong> 8500 рублей.
        </p>
        <ul class="list-disc list-inside text-left text-gray-700 leading-relaxed mb-4">
            <li>Прогноз на 6 месяцев — 4500 рублей.</li>
            <li>Прогноз на 1 месяц — 1500 рублей.</li>
        </ul>

        <!-- Кармический анализ -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Кармический анализ</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Кармическая астрология помогает изучить наработки вашей души и опыт прошлых жизней, основываясь на натальной карте. Она даёт понимание, какие задачи стоит решать в текущей жизни.
        </p>
        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Что анализируется:</strong>
        </p>
        <ul class="list-disc list-inside text-left text-gray-700 leading-relaxed mb-4">
            <li>Стационарные и ретроградные планеты</li>
            <li>Аспекты Лунных Узлов</li>
            <li>Планеты в 12 доме (близко к Asc)</li>
            <li>Фигуры Джонса, неподвижные звёзды</li>
            <!-- И другие аспекты -->
        </ul>
        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Стоимость:</strong> 3000 рублей.
        </p>
        <div class="text-left w-full mb-6">
            <a href="https://t.me/under_the_sun" class="btn btn-secondary">Интересен кармический анализ карты</a>
        </div>

        <!-- Хорарный вопрос -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Хорарный вопрос</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Хорарная астрология — это метод, который отвечает на конкретные вопросы вашей жизни. Не требуется знать дату и время рождения, карта строится на момент, когда вопрос был задан.
        </p>
        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Стоимость:</strong> 700 рублей.
        </p>
        <div class="text-left w-full mb-6">
            <a href="https://t.me/under_the_sun" class="btn btn-secondary">Задайте хорарный вопрос</a>
        </div>

        <!-- Профориентация -->
        <h2 class="text-2xl font-semibold text-green-800 mb-4">Профориентация и финансы</h2>
        <p class="text-left text-gray-700 leading-relaxed mb-4">
            Консультации по карьере помогут вам выявить сильные стороны и определить оптимальные профессии, улучшить финансовый поток и привлечь новых клиентов.
        </p>
        <p class="text-left text-gray-700 leading-relaxed">
            <strong>Стоимость:</strong> 4000 рублей.
        </p>
        <div class="text-left w-full mb-6">
            <a href="https://t.me/under_the_sun" class="btn btn-secondary">Обращайтесь</a>
        </div>

        <!-- Статьи -->
        <div class="text-left w-full mt-10">
            <a href="https://boosty.to/under__the__sun_" class="btn btn-primary">Читать статьи на Boosty</a>
        </div>
    </div>
{% endblock %}
